@font-face {
    src: url('../font/slabo27px-regular-webfont.eot');
    src: url('../font/slabo27px-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/slabo27px-regular-webfont.woff2') format('woff2'),
         url('../font/slabo27px-regular-webfont.woff') format('woff'),
         url('../font/slabo27px-regular-webfont.ttf') format('truetype'),
         url('../font/slabo27px-regular-webfont.svg#slabo_27pxregular') format('svg');
    font: {
        family: 'Slabo';
        weight: normal;
        style: normal;
    }
}
